# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
.vscode/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/

# Logs
logs/
*.log

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/
files/

# Test Reports
/test-results/
/coverage/
